<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
>

<head>
    <meta charset="UTF-8">
    <title>동록페이지</title>
</head>
<body>
    <div layout:fragment="content">
    <main>
    <h3>수거품목 선택</h3>
<!--            한 개의 파일 가능-->
<!--        <div class="file-upload preview-image">-->
<!--            <input type="text" class="upload-name" value="파일 선택" disabled="disabled">-->
<!--            <input type="file" id="input-file" class="upload-hidden">-->
<!--        </div>-->
<!--            여러 개의 파일 가능하지만 파일의 이름 확인 불가-->
<!--        <form name="이 폼의 이름" action="이 데이터들을 받을 파일" method="post" enctype="multipart/form-data">-->
<!--            <input type='file' name='' multiple/>-->
<!--        </form>-->



    </main>
    <script layout:fragment="javascript" th:inline="javascript"></script>
    </div>
</body>
</html>