<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">

<head>
    <title>문의 목록</title>
    <link rel="stylesheet" th:href="@{/css/question-list.css}">
</head>

<body>
<div layout:fragment="content">
    <main>
        <div class="question-content">
            <h1>문의 목록</h1>
            <div class="question-list">
                <table class="question-table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 질문 출력 -->
                    <tr th:each="question : ${questionPage.content}">
                        <td th:text="${question.qno}"></td>
                        <td>
                            <a th:href="@{'/echopickup/question-list/' + ${question.qno}}">
                                <span th:text="${question.qtitle}"></span>
                                <span th:if="${question.answer != null}" style="color:green;"> [답글완료]</span>
                            </a>
                        </td>
                        <td th:text="${question.qcomment}"></td>
                        <td th:text="${question.member.email}"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination">
                    <ul>
                        <!-- 첫 번째 페이지로 이동 -->
                        <li th:classappend="${questionPage.hasPrevious()} ? '' : 'disabled'">
                            <a th:href="@{/echopickup/question-list(page=0, size=${questionPage.size})}">&laquo;</a>
                        </li>

                        <!-- 각 페이지 번호로 이동 -->
                        <li th:each="i : ${#numbers.sequence(1, questionPage.totalPages)}"
                            th:classappend="${questionPage.number + 1 == i} ? 'active'">
                            <a th:href="@{/echopickup/question-list(page=${i - 1}, size=${questionPage.size})}"
                               th:text="${i}">1</a>
                        </li>

                        <!-- 마지막 페이지로 이동 -->
                        <li th:classappend="${questionPage.hasNext()} ? '' : 'disabled'">
                            <a th:href="@{/echopickup/question-list(page=${questionPage.totalPages - 1}, size=${questionPage.size})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
