<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Echo Pickup</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <img th:src="@{/images/echologo.png}" alt="Logo">
            </div>
            <nav>
                <span><a th:href="@{/echopickup/index}">이용안내</a></span>
                <span><a th:href="@{/echopickup/product}">수거신청</a></span>
                <span><a th:href="@{/echopickup/question}">고객문의</a></span>
                <span><a th:href="@{/echopickup/notice}">공지사항</a></span>
            </nav>
            <div class="auth">
                <a sec:authorize="isAnonymous()" th:href="@{/echopickup/member/login}">로그인</a>
                <a sec:authorize="isAnonymous()" th:href="@{/echopickup/member/join}">회원가입</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/echopickup/member/logout}">로그아웃</a>
            </div>
        </header>

        <div layout:fragment="content">

        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--        결제 관련-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<!--        주소 관련-->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <script th:src="@{/js/scripts.js}"></script>
        <th:block layout:fragment="javascript">

        </th:block>

        <footer>
            <p>&copy; 2024 Your Company 에코픽업에코픽업. All rights reserved.</p>
        </footer>
    </body>
</html>
