<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sample Page</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../static/images/echologo.png" alt="Logo">
            </div>
            <nav>
                <span><a href="#">이용안내</a></span>
                <span><a href="#">수거신청</a></span>
                <span><a href="#">고객문의</a></span>
                <span><a href="#">공지사항</a></span>
            </nav>
            <div class="auth">
                <a href="#">로그인</a>
                <a href="#">회원가입</a>
            </div>
        </header>

        <main>
        </main>

        <footer>
            <p>&copy; 2024 Your Company 에코픽업에코픽업. All rights reserved.</p>
        </footer>
    </body>
</html>
