<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 사이드</title>
    <link rel="stylesheet" th:href="@{/css/mypage-sidebar.css}">
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="sidebar">
        <h1>마이페이지</h1>
        <ul class="menu">
            <li><a th:href="@{/echopickup/mypage}">내 정보</a></li>
            <li><a th:href="@{/echopickup/mypage/changepassword}">비밀번호 변경</a></li>
            <li><a th:href="@{/echopickup/mypage/progress}">수거 신청 현황</a></li>
            <li><a th:href="@{/echopickup/mypage/}">문의 목록</a></li>
            <li><a th:href="@{/echopickup/mypage/}">1:1 상담</a></li>
            <li><a th:href="@{/echopickup/mypage/}">회원탈퇴</a></li>
        </ul>
    </div>

    <div class="main_content" layout:fragment="mypage_content">

    </div>
</div>
</body>
</html>