<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/mypage-sidebar.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/changepassword.css}">
    <script th:inline="javascript">
        var message = [[${message}]];
        var status = [[${status}]];

        window.onload = function() {
            showPasswordChangeAlert(message, status);
        }

        function showPasswordChangeAlert(message, status) {
            if (message) {
                alert(message);

                if (status === 'success') {
                    window.location.href = "/echopickup/mypage/changepassword";
                }
            }
        }
    </script>
</head>
<body>
<div class="main_content" layout:fragment="mypage_content">
    <h2>비밀번호 변경</h2>
    <div class="change-password-container">

        <!-- POST 메서드 사용, 각 필드에 name 속성 추가 -->
        <form id="changePasswordForm" method="POST" action="/echopickup/mypage/changepassword">
            <label for="currentPassword">현재 비밀번호</label>
            <input type="password" id="currentPassword" name="currentPassword" placeholder="사용 중인 비밀번호를 입력해주세요." required>

            <label for="newPassword">새 비밀번호</label>
            <input type="password" id="newPassword" name="newPassword" placeholder="새로운 비밀번호를 입력해주세요." required>

            <label for="confirmPassword">새 비밀번호 확인</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="다시 한번 더 입력해주세요." required>
            <span id="password-error" style="color: red; display: none;">비밀번호가 일치하지 않습니다.</span>

            <button type="submit" id="changepwbutton">변경하기</button>
        </form>

    </div>
</div>
</body>
</html>
