<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/mypage-sidebar.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/mypage-sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/changepassword.css}">
</head>
<body>

    <div class="main_content" layout:fragment="mypage_content">
        <div class="change-password-container">
            <h2>비밀번호 변경</h2>
            <form id="changePasswordForm"  method="POST" action="/api/mypage/changepassword">
                <label for="currentPassword">현재 비밀번호</label>
                <input type="password" id="currentPassword" name="currentPassword" placeholder="사용 중인 비밀번호를 입력해주세요." required>

                <label for="newPassword">새 비밀번호</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="영문, 숫자를 포함해 8자 이상으로 만들어주세요." required>

                <label for="confirmPassword">새 비밀번호 확인</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="1번 더 입력해주세요." required>

                <button id="changepwbutton">변경하기</button>
            </form>

            <p>비밀번호를 바꾸면 새 비밀번호로 다시 로그인해주세요.</p>
        </div>
    </div>
</body>
</html>