<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">
<head>
    <title>회원가입 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="signup-card">
        <h2>회원가입</h2>

        <form action="/echopickup/member/join" method="post">
            <div class="form-group">
                <label for="memberName">사용자 이름</label>
                <input type="text" id="memberName" name="memberName" required>
            </div>
            <div class="form-group">
                <label for="memberId">아이디</label>
                <input type="text" id="memberId" name="memberId" required>
            </div>
            <div class="form-group">
                <label for="memberPw">비밀번호</label>
                <input type="password" id="memberPw" name="memberPw" required>
            </div>
            <div class="form-group">
                <label for="confirm-memberPw">비밀번호 확인</label>
                <input type="password" id="confirm-memberPw" name="confirm-password" required>
            </div>
            <div class="form-group">
                <label for="memberEmail">이메일</label>
                <input type="email" id="memberEmail" name="memberEmail" required>
            </div>
            <div class="form-group">
                <label for="memberPhone">휴대폰</label>
                <input type="number" id="memberPhone" name="memberPhone" required>
            </div>
            <button type="submit">회원가입</button>
            <p class="login-link">이미 계정이 있으신가요? <a th:href="@{/echopickup/member/login}">로그인</a></p>
        </form>
    </div>
</div>
</body>
</html>
