<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/base.html}">

<head>
    <title>로그인 페이지</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <main>
        <div class="login-container">

            <div class="card-body">
                <th:block th:if="${param.logout != null}">
                    <h1>Logout</h1> <!--로그아웃 자동-->
                </th:block>

                <th:block th:if="${param.error != null }">
                    <h1>접근 권한이 없습니다.</h1>
                    <h1>다시 로그인해주세요. </h1>
                </th:block>

            <form class="login-form" action="/echopickup/member/login" method="post">
                <h2>로그인</h2>
                <div class="form-group">
                    <label for="email">아이디(이메일)</label>
                    <input type="email" id="email" name="username" placeholder="아이디를 입력하세요" required>
                </div>
                <div class="form-group">
                    <label for="pw">비밀번호</label>
                    <input type="password" id="pw" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>

                <div class="options">
                    <div class="remember-me">
                        <input type="checkbox" id="remember-me" name ="remember-me">
                        <label for="remember-me">아이디 저장</label>
                    </div>
                    <div class="find-info">
                        <a href="#">아이디 찾기</a> |
                        <a href="#">비밀번호 찾기</a>
                    </div>
                </div>

                <button type="submit" class="login-button">로그인</button>
                <button type="button" class="signup-button" onclick="location.href='join'" >회원가입</button>
    <!--            <p class="register-link">계정이 없으신가요? <a th:href="@{/echopickup/member/join}">회원가입</a></p>-->

                <div class="social-login">
    <!--                <button type="button" class="google-login">구글 계정으로 로그인</button>-->

                    <a href="/oauth2/authorization/kakao" class="kakao-login">
                        <img th:src="@{/images/login/kakao_login_medium_narrow.png}" alt="카카오 로그인 화면">
                    </a>
                </div>

            </form>

    <!--            <a href="/oauth2/authorization/kakao">-->
    <!--                <img th:src="@{/images/login/kakao_login_medium_narrow.png}" alt="카카오 로그인 화면">-->
    <!--            </a>-->

            </div>
        </div>


<script>
    // 로그인 폼 제출 시 JWT 발급 요청 처리
    document.querySelector('.login-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Capture the input values
        const username = document.getElementById('email').value;
        const password = document.getElementById('pw').value;

        // Store the values in the data object
        const data = {
            username: username,
            password: password
        };

        console.log('Data:', data);

        // Send the data using Axios to get the JWT tokens
        axios.post('/generateToken', data)
            .then(function (res) {
                console.log('Response:', res.data);
                const accessToken = res.data.accessToken;
                const refreshToken = res.data.refreshToken;

                // Store JWT tokens in localStorage
                localStorage.setItem("accessToken", accessToken);
                localStorage.setItem("refreshToken", refreshToken);

                // Redirect to index page
                event.target.submit();
            })
            .catch(function (error) {
                console.error('Error:', error.response);
                window.location.href = '/echopickup/member/login';
            });
    });
</script>
    </main>

</div>
</body>
</html>
