.main_content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 100px; /* 왼쪽 여백 추가 */
    margin: 40px;
}

.change-password-container {
    flex-grow: 1;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px; /* 정사각형을 유지 */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.change-password-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.change-password-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.change-password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#changepwbutton {
    width: 100%;
    padding: 12px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.changepwbutton button:hover {
    background-color: #2980b9;
}

.changepwbutton p {
    margin-top: 20px;
    text-align: center;
    color: #666;
}

/* 폼 내부 수직 정렬 */
form {
    display: flex;
    flex-direction: column;
}