.main_content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.change-password-container {
    margin-bottom: 20px;
}

.change-password-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.change-password-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#changepwbutton {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
    margin: 0 auto; /* 가운데 정렬 */
}

.changepwbutton button:hover {
    background-color: skyblue;
}

.changepwbutton p {
    margin-top: 20px;
    text-align: center;
    color: #666;
}
