.container {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 60px); /* 푸터를 제외한 높이 */
}
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}


.sidebar h1{
    text-align: center;
}


.sidebar ul.menu {
    list-style: none;
    padding: 0;
}

.sidebar ul.menu li {
    padding: 15px 20px;
    border-top: 1px solid #1C2B3A;
}

.sidebar ul.menu li a {
    color: #A9A9A9;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.sidebar ul.menu li a.active,
.sidebar ul.menu li a:hover {
    color: white;
    background-color: #162447;
    border-radius: 5px;
}