/* 기본 스타일 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4fbbe8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .logo img {
    height: 80px; /* 로고 이미지의 높이 조절 */
}

header nav {
    flex-grow: 1;
    text-align: center;
}

header nav span {
    margin: 0 100px;
    color: white;
    font-weight: bold;
}

header nav span a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav span a:hover {
    text-decoration: underline;
}

header .auth {
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 15px;
}

header .auth a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

header .auth a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 1000px;
    max-height: 2000px /* 최소,최대 높이 설정 화면시험용 나중에 수정해야함   */
}

main .content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4fbbe8;
    padding: 10px;
    text-align: center;
    color: white;
}

header .logo {
    max-width: 200px;

}

