<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/sidebar.html}"
>
<head>
    <title>제품목록</title>
    <link th:href="@{/css/product.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="admin_content">
    <div class="container">
        <h1>제품목록</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody th:with="link = ${pageRequestDTO.getLink()}">
            <tr th:each="dto:${responseDTO.dtoList}">
                <th scope="row">[[${dto.bno}]]</th>

                <td>
                    <a th:href="|@{/board/read(bno =${dto.bno})}&${link}|">
                        [[${dto.title}]]
                    </a>
                    <span class="badge progress-bar-success" style="background-color: #fe010a">
                                    [[${dto.replyCount}]]
                                </span>
                    <!--                                첨부 이미지 출력하기-->
                    <div th:if="${dto.boardImages != null && dto.boardImages.size()>0}">
                        <img style="width: 100px" th:each="boardImage : ${dto.boardImages}"
                             th:src="|/view/s_${boardImage.uuid}_${boardImage.fileName}|">
                    </div>
                </td>
                <!--이부분 주석 인식 못해서 삭제함-->

                <td>[[${dto.writer}]]</td>
                <!--                            <td>[[${dto.regDate}]]</td>-->
                <!--                            날짜 출력 포맷팅 작업 : yyyy-MM-dd HH:mm:ss 형식-->
                <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
            </tr>

            </tbody>
        </table>
        <!--                   페이징 부트스트랩 추가하기-->
        <div class="paging-container">
            <ul class="pagination paging-content">
                <!--                                    이전화면이 나오고-->
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start-1}">Previous</a>
                </li>
                <!--                                    페이지 : 1 ~ 10 개 출력-->
                <!--                                    서버에서 받아온 데이터를 적용하기-->
                <!--                            화면에 표시에 페이지 번호 10개 그리기-->
                <th:blcok th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">
                    <!--                                기존 jstl c 태그 문법 , 타임리프 문법으로 변경하기-->
                    <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                        <a class="page-link"
                           th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:blcok>

                <!--                            다음 화면 이 나오고-->

                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end +1}">Next</a>
                </li>
            </ul>
        </div>

        <div class="btns-box">
            <div class="form-btns">
                <a th:href="@{/echopickup/admin/product_register}"><button type="submit" class="btn-primary">글작성</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>