<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/sidebar.html}"
>
<head>
  <title>제품등록</title>
  <link th:href="@{/css/admin-register.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="admin-content">
  <div class="container">
    <h1>제품등록</h1>

    <form class="form-container" method="post" action="/echopickup/admin/register">
      <div>
        <table class="form-table">
          <tbody>
          <tr class="form-group">
            <td>
              <label for="iname">제품분류</label>
            </td>
            <td>
              <input type="text" name="iname" id="iname">
            </td>
          </tr>
          <tr class="form-group">
            <td>
              <label for="iprice">제품가격</label>
            </td>
            <td>
              <input type="number" name="iprice" id="iprice">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
    <div class="form-btns">
      <button type="submit" class="btn-primary">작성</button>
      <button type="button" class="btn-secondary">목록</button>
    </div>
  </div>
</div>
</body>
</html>